[sandbox_workspace_write]
network_access = true

[notice]
"hide_gpt-5.1-codex-max_migration_prompt" = true

[profiles.deepseek-v3-2]
model = "DeepSeek-V3.2-Speciale"
model_provider = "azure"
model_reasoning_effort = "high"
wire_api="chat"

[profiles.kimi-k2-thinking]
model = "Kimi-K2-Thinking"
model_provider = "azure"
model_reasoning_effort = "high"
wire_api="chat"

[profiles.gpt-5-2]
model = "gpt-5.2-codex-max"
model_provider = "azure"
model_reasoning_effort = "xhigh"

[model_providers.azure]
name = "Azure OpenAI"
base_url = ADD_AZURE_URL_HERE # AZURE URL GOES HERE
env_key = "AZURE_OPENAI_API_KEY"
stream_idle_timeout_ms = 259200000

[otel]
environment = "dev"
log_user_prompt = true
exporter = { otlp-grpc = { endpoint = "http://127.0.0.1:4317" } }
